{% extends 'base.html' %}
{% block page_content %}

    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="form-card">
                <h2 class="text-center">Add product</h2>
                <form action="{% url 'add_product' %}" method="post">
                    {% csrf_token %}
                    {{ form.as_p}}
                    <div class="text-center mt-3">
                        <button type="submit" class="btn btn-primary">Add product</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
{% endblock %}