{% extends 'base.html' %}
{% load custom_filters %}
{% block page_content %}


<div class="container mt-5">
    <h1 class="catalogue-title">My Skincare Catalogue</h1>
    
    <form method="get" class="sort-form mb-3">
        <label for="sort_by">Sort by:</label>
        <select name="sort_by" id="sort_by" class="form-control" onchange="this.form.submit()">
            <option value="name">Name</option>
            <option value="price">Price</option>
            <option value="type">Type</option>
        </select>
    </form>    

    <div class="catalogue-table">
        <table class="table table-hover">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Type</th>
                    <th scope="col">Size (ml)</th>
                    <th scope="col">Price (BGN)</th>
                    <th scope="col">Likes</th>
                </tr>
            </thead>
            <tbody>
                {% for product in user_products %}
                <tr>
                    <td><a href="{% url 'product_details' product.pk %}">{{ product.name }}</a></td>
                    <td>{{ product.get_product_type_display }}</td>
                    <td>{{ product.package_size_in_milliliters }}</td>
                    <td>{{ product.price }}</td>
                    <td>{{ product.like_count }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="text-center mt-3">
        <a href="{% url 'add_product' %}" class="btn btn-primary">Add another product</a>
    </div>

    <div class="catalogue-table mt-5">
    <h2 class="catalogue-title">Other Users' Favorite Products</h2>
        <table class="table table-hover">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Type</th>
                    <th scope="col">Size (ml)</th>
                    <th scope="col">Price (BGN)</th>
                    <th scope="col">Likes</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for product in other_users_products %}
                <tr>
                    <td><a href="{% url 'product_details' product.pk %}">{{ product.name }}</a></td>
                    <td>{{ product.get_product_type_display }}</td>
                    <td>{{ product.package_size_in_milliliters }}</td>
                    <td>{{ product.price }}</td>
                    <td>{{ product.like_count }}</td>
                    <td>
                        <form action="{% url 'like_product' product.pk %}" method="post">
                        {% csrf_token %}
                            <button type="submit" class="btn btn-info">
                                {% if product.id in liked_products %}
                                    <a href="{% url 'like_product' product.pk %}" class="btn btn-info">Unlike</a>
                                {% else %}
                                    <a href="{% url 'like_product' product.pk %}" class="btn btn-info">Like</a>
                                {% endif %}
                            </button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

</div>

{% endblock %}
