{% extends 'base.html' %}
{% load static %}

{% block title %}Login{% endblock %}

{% block page_content %}

<div class="login-register-div">
    <div class="login-register-box">
        <h1>Login</h1>
        
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        
        <form action="{% url 'login_user' %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Log in</button>
            <p class="not-have-account">Still don't have an account?
                <a href="{% url 'register_user' %}" class="btn btn-link">Register</a>
            </p>
        </form>
    </div>
</div>
    
{% endblock %}